# Opcional: cambiar motor de base
# DATABASE_URL=sqlite:///instance/bloqueos.db
# DATABASE_URL=mysql+pymysql://usuario:password@host:3306/base
# DATABASE_URL=oracle+oracledb://usuario:password@host:1521/?service_name=ORCLPDB1
